
    {% extends 'mic/base.html' %}
    {% block content %}
        <div>

            <form method='post'>
                {% csrf_token %}
                {{witness_questions}}
                <button type='submit'>Ask</button>
            </form>

            <h1>{{answer}}</h1>
            <h1>
                {{ players.0.name }}
            </h1>

            faith = <input type="text">

            {% if faith.value == 'faith' %}
                <p> You moved a mountain!</p>
            {% endif %}

        </div>
    {% endblock content %}
