
    {% extends 'mic/base.html' %}
    {% block content %}
        <div>



            {% if visit == 'witness' %}
                <form method='post'>
                    {% csrf_token %}
                    {{witness_questions}}
                    <button type='submit'>Ask</button>
                </form>

                <h1>{{answer}}</h1>
                <h1>
                    {{ players.0.name }}
                </h1>

            {% elif visit == 'city' %}
                <h2>{{players.0.city.description}}</h2>

            {% elif visit == 'entrance' %}
                <h2>Welcome to {{players.0.city.name}}</h2>
                <h3>{{players.0.city.description}}</h3>
                <form method='post'>
                    {% csrf_token %}
                    <button type='submit'>Explore Town</button>
                </form>

            {% endif %}




        </div>
    {% endblock content %}



